:root {
    /* Fonts */
    --primary-fonts: Roboto;
    --secondary-fonts: Raleway;
    /* Text colors */
    --primary-txt-cl: #2E2F42;
    --secondary-txt-cl: #434455;
    --accent-txt-cl: #4D5AE5;
    /* BG colors */
    --primary-bg-cl: #FFFFFF;
    --accent-bg-cl: #4D5AE5;
    --icon-clr-cl: #8E8F99;
    --icon-ocean-cl: #404BBF;
    --icon-modal-cl: #FCFCFC;
    /* Others */
    --trns-fast: 400ms ease-in;
    --trns-slow: 1800ms ease-in-out;

}

/* Studio */
body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: calc(24 / 16);
    Letter-spacing: 0.02em;
    color: var(--primary-txt-cl);
}

/* reset style */
.link {
    text-decoration: none;

}
#social{
    margin-bottom: 30px;
}
.link {
    display: block;
    margin-top: 5px;
    background-color: ;
}